* {
    font-family: Arial, Helvetica, sans-serif;
    
}

.title {
    background-color: #096609;
    font-size: 36px;
    color: white;
}

.subtitle {
    background-color: #0b4e0b;
    font-size: 24px;
    color: white;
}

.button {
    background-color: rgb(221, 233, 203);
    border: none;
    padding: 2px 8px;
    text-align: center;
}